div {
    border: 0px solid red;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 99vw;
    height: 95vh;
    background: linear-gradient(to bottom, #83bae6 0%, #9cc6e6 20%, #abcee7 100%);
    padding: 0px;
    margin: 0px;
}

.fadeIn {
    animation: fadein 2s ease;
}

@keyframes fadein {
    0% {
        opacity: 0;
        margin-left: 10%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
    }
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.brand-image {
    padding-left: 5%;
    vertical-align: middle;
    padding-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    margin-top: 30px;
}

.feedback {
    transition-duration: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    float: right;
    margin-right: 5%;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.feedback:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.2);
}

.feedback:active {
    transition-duration: 0.3s;
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.3);
}

a .feedback {
    font-weight: 900;
    color: #535F6E;
    background-color: #ffff;
}

.navbar-href {
    font-weight: 500;
    font-size: 25px;
    padding-left: 15px;
    color: #ffff;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.skyes {
    position: absolute;
    background-image: url(../img/clouds.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 93.9vh;
    opacity: 0.5;
    animation: clouds_anim 1000s linear infinite;
    z-index: -1;
}

@keyframes clouds_anim {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -7000px 0;
    }
}

/*XL-SCREEN*/

@media only screen and (min-width: 1200px) {
    .d-xl-none {
        display: none;
    }
}

/*LG-SCREEN*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .d-lg-none {
        display: none;
    }
}

/*MD-SCREEN*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .d-md-none {
        display: none;
    }
}

/*SM-SCREEN*/

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
}

/*XS-SCREEN*/

@media only screen and (min-width: 5px) and (max-width: 576px) {
    .d-none {
        display: none;
    }
}